html, body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 0.3%;
    box-sizing: border-box;
}

.builder {
    width: 20%;
    height: 100%;
    background: #fee;
    padding: 0.3%;
}

.settings-window {
    box-sizing: border-box;
    width: 90%;
    border: red 2px solid;
    margin: 4%;
    padding: 4%;
}

.settings-window > div, .h1-settings {
    border: red 1px solid;
    padding: 2px;
    margin: 2px auto;
}

.settings-window > div > div {
    margin: 2px auto;
}

.input-number {
    width: 60px;
}

.control-button-panel {
    width: 80%;
    padding: 2px 14px;
}

.preview-window {
    width: 78%;
    height: 100%;
    background: #ffeeee;
}

.main-settings > div {
    border: blue 1px solid;
}

.settings-window > div > div {
    display: inline-block;
}

.main-settings > div {
    padding: 4px;
}